<div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <span id="time">{{currentTime}}</span>
        </div>
        <div class="col-xs-6 text-right">
          <button ng-show="editing" ng-click="save()">save</button>
          <button ng-show="!editing" ng-click="editing = true">edit</button>
          <button ng-show="editing" ng-click="editing = false">cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-class="{'col-xs-12': !editing, 'col-xs-8': editing}">
      <div class="subtitles text-center">
        <div class="row">
          <div class="col-xs-12">
              <span id="line1">{{subtitle.line1}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <span id="line2">{{subtitle.line2}}</span>
          </div>
        </div>
      </div>
      <video src="video/Downfall.mkv" controls autoplay></video>
    </div>
    <div class="col-xs-4" ng-show="editing">
      <div ng-repeat="caption in script">
        <p>
          <input ng-model="caption.line1" size="45"/> <br />
          <input ng-model="caption.line2" size="45"/>
        <p>
        <hr />
      </div>
    </div>
  </div>
</div>
